<a href="https://colab.research.google.com/github/atmakurinikitha2005-unqe/Logic-Building-Task-/blob/main/Day%202%20problem%20solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 .Unique Words in a Sentence

In [2]:
sentence=input ("enter the Sentence:")
words=sentence.split()
unique_words=set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

enter the Sentence:python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'is', 'easy', 'and', 'python'}

# 2 . Highest Salary from Employee Data

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
name = max(employees, key=employees.get)
salary = employees[name]

print(f"Highest Salary: {name} - {salary}")

Highest Salary: Ravi - 75000

# 3.Find Maximum and Minimum Value

In [4]:
numbers = [45, 22, 89, 10, 66]
max_val = numbers[0]
min_val = numbers[0]

# Loop through list to find max and min
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num
# Display results
print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# 4.Count Products Above a Price Threshold

In [5]:

# List of product prices
prices = [450, 1200, 899, 1500, 300]

# Counter
count = 0

# Loop to check prices above 1000
for price in prices:
    if price > 1000:
        count += 1

# Display result
print("Products above 1000:", count)

Products above 1000: 2

# 5.Calculate Attendance Percentage

In [6]:
# Attendance list
attendance = ["P", "P", "A", "P", "P"]

# Count number of presents
present_count = attendance.count("P")

# the Total days attended
total_days = len(attendance)

#  used Calculate percentage
attendance_percentage = (present_count / total_days) * 100

#  to Display result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

# 6.Remove Duplicate Phone Numbers

In [7]:
# List of  the phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# it used to Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

#  to Display result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# 7.Count Character Frequency

In [8]:
# Input string
text = "python"

# Dictionary to store character frequency
char_count = {}

# Loop through each character
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

# Display result
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# 8.Convert List to Tuple

In [9]:
# List
numbers_list = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers_list)

# Display result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

# 9.Checking if a Key Exists in a Dictionary

In [10]:
# Dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to check
key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

# 10.Calculate Average Marks

In [11]:
# List of marks
marks = [70, 75, 80, 65]

# Calculate average
average = sum(marks) / len(marks)

# Display result
print("Average Marks:", average)

Average Marks: 72.5